@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap');

body{
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 1.5em;
  background-color: #000000;
}

.logo{
  padding: 0 0 0 0.3em;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}