

.navbar{
  display: flex;
  align-items: center;
  padding: 1.5em;
  background-color: #000000;
}

.logo{
  padding: 0 0 0 0.3em;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

.section{
  padding: 1.2em;

}

.input{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  margin: 0 0 2em 0;
}

.text{
  width: 50%;
  border: 1px solid #D5D4D8;
  padding: 1.2em 1em;
  font-family: "Karla", sans-serif;  /*Font style not applying to elements? */
}

.button{
  width: 100%;
  color: #fff;
  background-color: #0D0D0D;
  border: none;
  padding: 1.5em 2em;
  font-family: "Karla", sans-serif;
}

.button:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
}

.text, .button{
  border-radius: 5px;
  font-size: 1em;
  line-height: 14px;
  font-weight: 400;
}

.memeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2em 0;
}

.meme{
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}